html {
	position: relative;
}

body {
	margin-bottom: 120px;
}


.gmbr img {
	padding-top:20px ;
}

.card {
	display: inline-block;
	padding-left: 30px ;
	padding-top: 30px ;
	min-height: 800;
	padding-bottom: 130px ;

}

.carousol-item {
	height: 500px ;
	
	padding-top: 3px ;
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px ; 
	background-color: #333;
	padding-top: 30px ;
	padding-bottom: 100px ; 
}


footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color:salmon  ; 
}




















